parameters:
    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition|Symfony\\Component\\Config\\Definition\\Builder\\ParentNodeDefinitionInterface::end\(\)\.#'
